# ignore generated wav files
src/main/resources/sound/en/wav/*.wav
src/main/resources/sound/de/wav/*.wav

# ignore libs
backup/
lib/libopencv_*
lib/libpsmove*

# ignore build results
packages/

## kotlin and java stuff

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### mac ###
**.DS_Store
/development/text-to-speech-curl/.env
/development/text-to-speech-curl/node_modules/

## ignore redudant sounds.json
development/text-to-speech-curl/sounds.json